<mat-card class="example-card" appearance="outlined">
	<mat-card-header>
		<mat-card-title>Digite o CEP</mat-card-title>
	</mat-card-header>
	<mat-card-content>
    @if (!location()) {
      <p>Nenhum lugar pesquisado</p>
    } @else {
      <p>Estado: {{location()?.state}}</p>
      <p>Cidade: {{location()?.city}}</p>
      <p>Bairro: {{location()?.neighborhood}}</p>
      <p>Rua: {{location()?.street}}</p>
    }
  </mat-card-content>
	<mat-card-actions>
		<mat-form-field class="example-full-width">
			<mat-label>CEP</mat-label>
			<input matInput placeholder="Ex. 32600-000." (change)="onCepChange()" [(ngModel)]='cep'/>
		</mat-form-field>
	</mat-card-actions>
</mat-card>
