<div class="flex justify-center items-center min-h-screen">
	<mat-card class="example-card" appearance="outlined">
		<mat-card-header>
			<mat-card-title>Digite o CNPJ</mat-card-title>
		</mat-card-header>
		<mat-card-actions>
			<mat-form-field class="example-full-width">
				<mat-label>CNPJ</mat-label>
				<input
					matInput
					#postalCode
					maxlength="17"
					data-testid="inputText-cepComponent"
					placeholder="Ex. 00.000.0000000-00"
          (keyup)="onKeyUp()"
          (change)="onCnpjChange()"
					[(ngModel)]="cnpj"
					data-testid="inputText-cnpjComponent"
				/>
				<mat-hint align="end">{{ cnpjController().length }} / 14</mat-hint>

			</mat-form-field>
		</mat-card-actions>
		<mat-card-content>
			@if (!readCnpj() && !cnpjService.readLoading() && !cnpjService.readError()) {
			<p>Nenhum lugar pesquisado</p>
			}
			@if (cnpjService.readLoading()) {
				<div data-testid="divLoading-cepComponent">
					<mat-spinner></mat-spinner>
				</div>
			}
			
			@if (cnpjService.readError()) {
			<p data-testid="pError-cnpjComponent" class="text-red-400 italic">
				Erro: {{ cnpjService.readError()?.errors?.[0]?.message || cnpjService.readError()?.message}}
			</p>
			} @if(readCnpj()) {
			<div class="flex flex-col">
        <p class='text-center' data-testid="pName-cepComponent">
					{{ readCnpj()?.nome_fantasia ? readCnpj()?.nome_fantasia : readCnpj()?.razao_social }}
				</p>
				<button mat-raised-button color="accent" (click)="openDialog()">Abrir diálogo</button>
			</div>
			}
		</mat-card-content>
	</mat-card>
</div>
