<div class="flex justify-center items-center min-h-screen p-4">
  <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Digite o DDD</mat-card-title>
      </mat-card-header>

      <mat-card-actions class="flex justify-center">
        <mat-form-field>
          <mat-label>DDD</mat-label>
          <input
            matInput
            
            type="number"
            maxlength="2"
            placeholder="Ex. 31."
            (change)="onDddChange()"
            [(ngModel)]="dddModal"
          />
          <mat-hint align="end">{{ dddModal.length }} / 2</mat-hint>
        </mat-form-field>
      </mat-card-actions>

    <mat-card-content>
      @if (!ddd()) {
        <p class="text-center text-gray-500">Nenhum DDD pesquisado</p>
      }

      @if (dddService.readError()) {
        <p class="text-red-400 italic text-center">Erro</p>
      }

      @if (ddd()) {
        <div class="flex flex-col text-center gap-4">
          <h2 class="text-2xl font-semibold">
            Estado: {{ ddd()?.state }}
          </h2>

          <!-- Scroll estilizado -->
          <div
            class="max-h-64 overflow-y-auto bg-gray-50 rounded-md p-3 shadow-inner custom-scroll"
          >
            <ul class="space-y-2 text-left text-sm text-gray-700">
              @for (cidade of ddd()?.cities; track $index) {
                <li class="border-b border-gray-200 pb-1">{{ cidade }}</li>
              }
            </ul>
          </div>
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>
