<div class="center-container">
	<mat-card>
		<mat-card-title class="text-center">Bem-vindo à Brasil API</mat-card-title>
		<mat-card-content class="flex flex-col gap-4 items-center mt-4">
			<button mat-raised-button color="primary" (click)="goTo('ddd')">
				<mat-icon>dialpad</mat-icon>
				DDD
			</button>
			<button mat-raised-button color="accent" (click)="goTo('cep')">
				<mat-icon>location_on</mat-icon>
				CEP
			</button>
			<button mat-raised-button color="accent" (click)="goTo('cnpj')">
				<mat-icon>domain</mat-icon>
				CNPJ
			</button>
		</mat-card-content>
	</mat-card>
</div>
